<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty"
  >
    <p>
      ¡Hola! Me llamo Antonio, <strong>
        estudiante de ingeniería en desarrollo y gestión de software, en proceso
        de culminar la carrera.
      </strong>Me encanta enfocarme en la parte de la experiencia e interfaz de
      usuario para ofrecer un producto de calidad.
    </p>
    <p>
      Actualmente, desarrollo aplicaciones web para algunas empresas bien
      posicionadas en el mercado mexicano,
      <em class="italic"> así como proyectos sólidos en el extranjero.</em> Me gusta
      trabajar en equipo y aprender de los demás.
    </p>
    <p>
      Uno de mis mayores éxitos es haber sido parte de un proyecto de un jardín
      automatizado, el cual fue presentado en el concurso de ciencia y
      tecnología en la UT, <strong> y logramos culminarlo exitosamente.</strong>
    </p>
  </div>
  <img src="/public/img/antonioBorgesImg.webp" class="rounded-full size-64" />
</section>
